logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID


# compiled output
ui/dist
ui/tmp
ui/out-tsc

# dependencies
ui/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
ui/.sass-cache
ui/connect.lock
ui/coverage
/libpeerconnection.log
ui/npm-debug.log
ui/yarn-error.log
ui/testem.log
ui/typings

# System Files
.DS_Store
Thumbs.db
*/.DS_Store